<!-- signup.html -->

{% extends 'app/base.html' %}
{% block body %}
{% load static %}

    <div class="con">
        <h2 class="h2">Signup</h2>
        <div class="row ">
            {% for message in messages %}
            <div class="message alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
            {% endfor %}
        
        
        </div>
        <div class="row">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="username" id="id_username" placeholder="USER NAME" class="form-control"><br>
                <input type="password" name="password" id="id_password" placeholder="PASSWORD"  class="form-control" ><br>
                <input type="password" name="password2" id="id_repassword"placeholder="CONFIRM PASSWORD"  class="form-control" ><br>
            <button class="btn btn-primary">submit</button>
            </form>
        </div>
    </div>

           
{% endblock %}