{% extends 'app/base.html' %}
{% block body %}
{% load static %}





<section class=" bg-dark d-flex  justify-content-center  p-5   align-item-center h-100 min-vh-100">

    <div class="container">
        <div class="row">
            <div class="col-md-5 mt-3">
                <div class="bg-white border">
                    <img src="{{ product.photo.url }}" class="w-100" alt="{{ product.name }}" style="height:450px">
                </div>
            </div>
            <div class="col-md-7 mt-3">
                <div class="product-view text-white ">
                    <h4 class="product-name ">
                        {{ product.name }}
                        <label class="label-stock bg-success">In Stock</label>
                    </h4>
                    <hr>
                    <p class="product-path text-white">
                        Home / Category / Product /{{product.id}}
                    </p>

                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                    {% endfor %}
                    <p class="product-brand"> {{ product.brand}} </p>
                    <div>
                        <p class="card-text text-white"><i class="fa fa-inr" aria-hidden="true"></i> {{ product.price }}
                        </p>
                    </div>
                    {% if product.size %}
                    <p>Size: {{ product.size.all }}</p>
                    {% endif %}
                    <div class="mt-2">
                        <div class="input-group">
                            <span class="btn btn1" onclick="decrementQuantity()"><i class="fa fa-minus" style="color:white"></i></span>
                            <input type="text" class="input-quantity" id="quantity" name="quantity" value="1">
                            <span class="btn btn1" onclick="incrementQuantity()"><i class="fa fa-plus" style="color:white"></i></span>
                        </div>
                    </div>
                    <div class="mt-2">
                        
                       
                            <a href="{% url 'app:add_to_cart' product.id %}" type="submit" class="btn btn1 bg-primary"> <i class="fa fa-shopping-cart"></i> Add To Cart</a>
                        {% if product_in_wishlist %}
                        <a href="{% url 'app:add_to_wishlist' product_id=product.id %}" class="btn btn1 bg-primary"> <i class="fa fa-heart"></i>  <i class="fa fa-heart"></i>Remove
                            from Wishlist</a>
                        {% else %}
                        <a href="{% url 'app:add_to_wishlist' product_id=product.id %}" class="btn btn1 bg-primary"> <i class="fa fa-heart"></i> Add to
                            Wishlist</a>
                        {% endif %}

                    </div>
                    <div class="mt-3">
                        <h5 class="mb-0">Small Description</h5>
                        <p>
                            {{ product.smalldescription }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-header bg-white">
                        <h4>Description</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ product.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>




<section class=" bg-light d-flex  justify-content-center align-item-center h-100 min-vh-100">
   
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-4 p-2 text cat">Similar Products</h4>
            </div>
            <div class="row">
              
                {% for similar_product in similar_products %}
            <div class="col-md-3">
               
                <div class="product-card">
                    <a href="{% url 'app:product_detail' similar_product.id %}">
                    <div class="product-card-img">
                        <label class="stock bg-success">In Stock</label>
                        <img src="{{ similar_product.photo.url }}" alt="{{ similar_product.name }}" style="max-width: 100%;">
                    </div>
                    <div class="product-card-body">
                        <p class="product-brand"> {{ similar_product.brand }} </p>
                        <h5 class="product-name">
                           <a href="">
                            {{ similar_product.name }}
                           </a>
                        </h5>
                        <p class="card-text">{{ similar_product.smalldescription}}</p>
                        <div>
                            <span class="card-text text-dark "><i class="fa fa-inr" aria-hidden="true"></i>{{ similar_product.price }}</span>
                         
                        </div>
                    </a>
                        <div class="mt-2">
                            <a href="" class="btn btn1">Add To Cart</a>
                           
                            <a href="{% url 'app:product_detail' product.id %}" class="btn btn1"> View </a>
                        </div>
                    </div>
                </div>
            </div>
                  
      {% endfor %}
    </div>
            
           
        </div>
    </div>
</div>

</section>











<script>
function incrementQuantity() {
    var quantityInput = document.getElementById('quantity');
    var currentValue = parseInt(quantityInput.value);
    quantityInput.value = currentValue + 1;
}

function decrementQuantity() {
    var quantityInput = document.getElementById('quantity');
    var currentValue = parseInt(quantityInput.value);
    if (currentValue > 1) {
        quantityInput.value = currentValue - 1;
    }
}





</script>









{% endblock %}